// 초기화 css
@import './reset.scss';

.header {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  .header-inner {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 10;
  }
  .gnb {
    text-align: right;
    overflow: hidden;
  }
  .gnb-menu {
    float: left;
    + .gnb-menu {
      margin-left: 20px;
    }
    a {
      display: block;
      transition: color 0.3s;
      font-family: 'NanumSquare';
      font-weight: bold;
      font-size: 25px;
      color: #fff;
      text-shadow: 1px 1px 1px #222;
      &.active {
        color: #f4e533;
      }
    }
  }
  &.active {
    a {
      color: #000;
    }
  }
}

.section-inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.section-title {
  margin-bottom: 100px;
  font-family: 'NanumSquare';
  font-weight: bold;
  font-size: 70px;
  &.small {
    margin-bottom: 40px;
  }
  span {
    color: #3bc5b0;
  }
  .etc {
    font-family: 'NanumSquare';
    font-size: 20px;
    font-weight: 300;
    color: #999;
  }
}
.point-color {
  color: #3bc5b0;
}
.profile-container {
  border-top: 1px solid transparent;
}
.profile-content {
  width: 1100px;
  margin: 100px auto 50px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  .info-section {
    text-align: right;
    .user-info {
      padding-bottom: 40px;
    }
    .user-image {
      display: flex;
      justify-content: flex-end;
      img {
        display: block;
        width: 200px;
      }
    }
    .user-name {
      margin-top: 25px;
      font-family: 'NanumSquare';
      font-weight: bold;
      font-size: 40px;
      letter-spacing: 3px;
    }
    .user-position {
      margin-top: 5px;
      font-weight: bold;
      font-size: 18px;
      color: #999;
    }
    .info-wrapper {
      margin-top: 20px;
    }
    .info-list {
      margin-top: 15px;
      .url {
        + .url {
          margin-top: 8px;
        }
        letter-spacing: -0.02em;
        .link {
          cursor: pointer;
          border-bottom: 1px solid #666;
        }
      }
    }
  }
}
.profile-section {
  padding-top: 120px;
  &.intro-section {
    padding-top: 60px;
  }
  &.portfolio {
    .list-container {
      margin-top: 100px;
    }
  }
}
.profile-text {
  padding-left: 40px;
  font-family: 'NanumSquare';
  font-size: 22px;
  line-height: 1.5;
}

.portfolio-content {
  background-color: #fff;
  .keyvisual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    background-color: #222;
    .text-area {
      padding: 0 20px;
      text-align: center;
    }
    .subject {
      font-family: 'NanumSquare';
      font-weight: bold;
      font-size: 65px;
      color: #fff;
      letter-spacing: 2px;
    }
    .sub-text {
      margin-top: 10px;
      font-weight: lighter;
      font-size: 20px;
      color: #fff;
    }
    .stack {
      margin-top: 15px;
      font-size: 16px;
      color: #fff;
    }
    .btn-view {
      transition: 0.3s;
      display: block;
      width: 130px;
      height: 40px;
      line-height: 38px;
      margin: 30px auto 0;
      border: 1px solid #fff;
      font-family: 'NanumSquare';
      font-size: 17px;
      font-weight: bold;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: #222;
      }
    }
  }
}
.portfolio-section {
  padding: 100px 0;
  + .portfolio-section {
    border-top: 1px dashed #d1d1d1;
  }
  .stack {
    margin-top: 15px;
    font-size: 16px;
    color: #888;
  }
}
.portfolio-list {
  margin-top: 70px;
  .item {
    display: flex;
    align-items: center;
    + .item {
      margin-top: 140px;
    }
  }
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 490px;
    height: 350px;
    border: 1px solid #d1d1d1;
    text-align: center;
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
    }
  }
  .text-box {
    margin-left: 75px;
  }
  .project-title {
    font-family: 'NanumSquare';
    font-weight: bold;
    font-size: 35px;
  }
  .summary {
    margin-top: 20px;
    li {
      font-size: 15px;
      color: #999;
      + li {
        margin-top: 8px;
      }
    }
  }
  .description {
    width: 430px;
    margin-top: 20px;
    background: #888;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    font-size: 14px;
    line-height: 1.6;
  }
  .url {
    margin-top: 20px;
    a {
      display: inline-block;
      border-bottom: 1px solid #ddd;
      font-size: 14px;
      color: #999;
    }
  }
  .skils {
    margin-top: 20px;
    dt,
    dd {
      display: inline-block;
      vertical-align: middle;
    }
    dt {
      strong {
        display: inline-block;
        padding: 5px 7px;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        background-color: #222;
      }
    }
    dd {
      padding-left: 12px;
      font-size: 15px;
      color: #888;
      span {
        position: relative;
        + span {
          padding-left: 10px;
        }
        &:first-child {
          padding: 0;
          &:after {
            display: none;
          }
        }
        &:after {
          display: block;
          content: '';
          width: 1px;
          height: 12px;
          position: absolute;
          top: 50%;
          left: 3px;
          margin-top: -6px;
          background-color: #ddd;
        }
      }
    }
  }
}
.old-project-container {
  margin-top: 100px;
  .title {
    font-family: 'NanumSquare';
    font-weight: bold;
    font-size: 35px;
    span {
      font-family: 'NanumSquare';
      font-weight: 300;
      font-size: 20px;
      color: #999;
    }
  }
}
.old-project-list {
  margin-top: 40px;
  overflow: hidden;
  li {
    float: left;
    position: relative;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 15px;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 12px;
      margin-top: -6px;
      background-color: #ddd;
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
    .link {
      cursor: pointer;
      border-bottom: 1px solid #666;
    }
  }
}
.list-container {
  padding-left: 60px;
  .item {
    overflow: hidden;
    padding: 40px 0;
    + .item {
      border-top: 1px dashed #d1d1d1;
    }
  }
  .date {
    float: left;
    width: 270px;
  }
  .period {
    font-family: 'NanumSquare';
    font-weight: 500;
    font-size: 20px;
    color: #999;
  }
  .article {
    overflow: hidden;
    .title {
      font-family: 'NanumSquare';
      font-size: 28px;
      span {
        font-family: 'NanumSquare';
        font-weight: 300;
        font-size: 18px;
        color: #999;
      }
    }
    .sub-text {
      margin-top: 12px;
      font-size: 16px;
      color: #999;
      .asset {
        display: inline-block;
        + .asset {
          position: relative;
          padding-left: 10px;
          margin-left: 10px;
          &:before {
            display: block;
            content: '';
            width: 1px;
            height: 14px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: #aaa;
          }
        }
        &.link {
          border-bottom: 1px solid #999;
        }
      }
    }
    .info-text {
      margin-top: 25px;
      li {
        position: relative;
        padding-left: 12px;
        font-size: 16px;
        &:before {
          display: inline-block;
          content: '';
          width: 5px;
          height: 1px;
          position: absolute;
          top: 9px;
          left: 0;
          background-color: #999;
        }
        + li {
          margin-top: 8px;
        }
        &.skils {
          display: inline-block;
          padding: 5px 10px;
          font-weight: bold;
          background-color: #f1f1f1;
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
.old-list-container {
  border-top: 1px dashed #d1d1d1;
}
.old-list {
  overflow: hidden;
  li {
    float: left;
    position: relative;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 15px;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 12px;
      margin-top: -6px;
      background-color: #ddd;
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
  }
}
